/*

Tooplate 2125 ArtXibition

https://www.tooplate.com/view/2125-artxibition

*/

/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. banner
06. features
07. testimonials
08. contact
09. footer
10. preloader
11. search
12. portfolio

--------------------------------------------- */
/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
body{
  background-image: url(background.jpg);
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.jumbotron {
  background-color: rgb(91, 189, 250);
  color: white;
}

.navbar {
  background-color: rgb(91, 189, 250);
  font-size: 20px;
}

#about {
  background-color: purple;
}

.header {
  font-size:25px;
  color: white;
  background-color: rgb(91, 189, 250);
  padding: 10px 40px;
  opacity: 0.95;
}

#search {
  width: 10rem;
  height: 2.2rem;
  border: 3px solid #2e89ad;
  font-size: 17px;
  padding: 6px 12px;
  border-radius: 3px;
  transition: width 2s;
}

#search:focus {
  width: 13rem;
  transition-timing-function: linear;
}

.searchbutton {
  background-color: #40b6e6;
  border: 2px solid #2e89ad;
  color: white;
  height: 2.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius: 6px;
  transition-duration: 0.4s;
}

.searchbutton:hover {
  background-color: white;
  color: #2e89ad;
  border: 2px solid #2e89ad;
}

.sidebar-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.searchbar {
  float: right;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: white;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h4 {
  line-height: 30px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: #2a2a2a;
  font-weight: 300;
}

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
  background: #fff;
  font-family: 'Poppins', sans-serif;
}

::selection {
  background: #343a3e;
  color: #fff;
}

::-moz-selection {
  background: #343a3e;
  color: #fff;
}

@media (max-width: 991px) {
  html, body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

.section-heading {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.section-heading h2 {
  font-size: 30px;
  font-weight: 800;
  color: #2a2a2a;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.section-heading img {
  margin: 20px auto;
}

.dark-bg h2 {
  color: #fff;
}

.dark-bg p {
  color: #fff;
}

.main-white-button a {
  display: inline-block;
  font-size: 14px;
  padding: 12px 18px;
  background-color: #fff;
  color: #2a2a2a;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  transition: all .3s;
}

.main-white-button a:hover {
  opacity: 0.9;
}

.main-dark-button a {
  display: inline-block;
  font-size: 14px;
  padding: 12px 18px;
  background-color: #343a3e;
  color: #fff;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  transition: all .3s;
}

.main-dark-button a:hover {
  opacity: 0.9;
}


.text-button a {
  font-size: 14px;
  color: #7c838b;
  transition: all .3s;
}

.text-button i {
  font-size: 12px;
  margin-left: 5px;
  transition: all .5s;
}

.text-button a:hover {
  color: #343a3e;
}

.text-button a:hover i {
  margin-left: 8px;
}


/* 
---------------------------------------------
header
--------------------------------------------- 
*/

.pre-header {
  background-color: #f0f0f1;
  padding: 10px 0px;
}

.pre-header span {
  font-size: 13px;
  color: #2a2a2a;
  font-weight: 500;
}

.pre-header .text-button {
  text-align: right;
}

.pre-header .text-button a {
  color: #2a2a2a;
}

.header-area {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 80px;
  background: #fff;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.header-area .main-nav {
  min-height: 80px;
  background: transparent;
}

.header-area .main-nav .logo {
  line-height: 80px;
  color: #656c74;
  font-size: 28px;
  font-weight: 700;
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo em {
  font-style: normal;
  color: #2a2a2a;
  font-weight: 900;
}

.header-area .main-nav .nav {
  float: right;
  margin-top: 27px;
  margin-right: 0px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 14px;
  color: #2a2a2a;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
  color: #656c74!important;
  opacity: 1;
}

.header-area .main-nav .nav li a.active {
  position: relative;
}

.header-area .main-nav .nav li a.active:after {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #656c74;
  content: '';
  top: -20px;
  left: 0;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
  color: #656c74!important;
  opacity: 1;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: #1e1e1e;
}

.header-area.header-sticky {
  min-height: 80px;
}

.header-area.header-sticky .nav {
  margin-top: 20px !important;
}

.header-area.header-sticky .nav li a.active {
  color: #656c74;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-area .main-nav .nav li a.active:after {
    display: none;
  }
  .header-area .main-nav .logo {
    color: #1e1e1e;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #656c74!important;
    opacity: 1;
  }
  .header-area {
    background-color: #f7f7f7;
    padding: 0px 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-left: 30px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area.header-sticky .nav {
    margin-top: 80px !important;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #232d39 !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #eee !important;
    color: #656c74!important;
  }
  .header-area .main-nav .nav li.submenu ul {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
  }
  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }
  .header-area .main-nav .nav li.submenu ul.active {
    height: auto !important;
  }
  .header-area .main-nav .nav li.submenu:after {
    color: #3B566E;
    right: 25px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}

@media (min-width: 767px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}
/*imageslider*/

#slideshow{
  background:url(res/iphone_small.png) no-repeat;
  height:512px;
  /*margin:auto 30px;*/
  margin:50px 25px auto;
  position:relative;
  width:257px;
}

#slideshow ul{
  height:300px;
  left:33px;
  list-style:none outside none;
  overflow:hidden;
  position:absolute;
  top:78px;
  width:257px;
}

#slideshow li{
  position:absolute;
  display:none;
  z-index:10;
}

#slideshow li:first-child{
  display:block;
  z-index:1000;
}

#slideshow .slideActive{
  z-index:1000;
}

#slideshow canvas{
  display:none;
  position:absolute;
  z-index:100;
}

#slideshow .arrow{
  height:64px;
  width:45px;
  position:absolute;
  background:url('res/arrows.png') no-repeat;
  top:50%;
  margin-top:-55px;
  cursor:pointer;
  z-index:5000;
  margin-left:240px;
  margin-right:240px;
}

#slideshow .previous{ background-position:right top;right:0;}
#slideshow .previous:hover{ background-position:right bottom;}

#slideshow .next{ background-position:left top;left:0;}
#slideshow .next:hover{ background-position:left bottom;}

/* 
---------------------------------------------
banner
--------------------------------------------- 
*/

.main-banner {
  background-image: url(../images/banner_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 270px 0px 210px 0px;
  position: relative;
}

.main-banner h6 {
  font-size: 14px;
  color: #fff;
  font-weight: 300;
}

.main-banner h2 {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 30px;
}

.main-banner .next-show {
  position: absolute;
  top: -165px;
  left: 50%;
  transform: translateX(-50%);
  animation: move-up-down 3s infinite;
}
.main-banner .next-show {
  color: #fff;
  font-size: 18px;
}

.main-banner .next-show i {
  font-size: 12px;;
}

.main-banner .next-show span {
  display: block;
  font-size: 14px;
  font-weight: 300;
}

.main-banner .counter-content {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 12px 0px;
  height: 100px;
  background-color: rgba(250,250,250,0.3);
}

.main-banner .counter-content li {
  display: inline-block;
  font-size: 14px;
  list-style-type: none;
  font-weight: 300;;
  text-transform: capitalize;
  color: #fff;
  min-width: 15%;
}

.main-banner .counter-content li span {
  display: block;
  font-size: 50px;
  font-weight: 900;
  margin-top: -10px;
}


/*
---------------------------------------------
Show Events Carousel
---------------------------------------------
*/
.owl-show-events {
  position: relative;
  margin-top: -60px;
}

.owl-show-events .owl-nav {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(5px);
}

    
.owl-show-events .owl-nav .owl-prev{
  position: absolute;
  left: -45px;
  outline: none;
}

.owl-show-events .owl-nav .owl-prev span,
.owl-show-events .owl-nav .owl-next span {
  opacity: 0;
}

.owl-show-events .owl-nav .owl-prev:before {
  display: inline-block;
  font-family: 'FontAwesome';
  color: #7c838b;
  font-size: 14px;
  content: '\f060';
}

.owl-show-events .owl-nav .owl-next{
  position: absolute;
  right: -45px;
  outline: none;
}

.owl-show-events .owl-nav .owl-next:before {
  display: inline-block;
  font-family: 'FontAwesome';
  color: #7c838b;
  font-size: 14px;
  content: '\f061';
}


/*
---------------------------------------------
block
---------------------------------------------
*/

.block {
  background-image: url(https://www.wallpaperflare.com/static/578/493/137/geometry-poly-vector-dots-wallpaper.jpg);
  opacity: 0.5;
  padding: 30px 0px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
}

.flex-container .box {
  background-image: url(https://st2.depositphotos.com/1005731/7610/i/950/depositphotos_76109715-stock-photo-high-resolution-abstract-background.jpg);
  width: 50%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  opacity: 0.9;
}
footer {
  padding-top: 60px;
  margin-bottom: 25px;
}

footer h4 {
   font-size: 20px;
   color: #2a2a2a;
   font-weight: 700;
   margin-bottom: 25px;;
}

footer .vision\mission span {
  font-size: 14px;
  color: #2a2a2a;
  line-height: 24px;
  font-weight: 300;
}

footer .links {
  text-align: center;
}


.about-section {
  background-image: url(https://image.freepik.com/free-photo/ai-technology-brain-background-digital-transformation-concept_53876-124672.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 110px 0px 410px 0px;
  text-decoration-color: black;
  height: 500px;
 
}

.page-heading-about h2 {
  font-size: 50px;
  color: #fff;
  font-weight: 800;
  margin-bottom: 15px;
}

.page-heading-about span {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}

.about-item {
  margin-top: -282px;
}

.about-item .left-image img {
  width: 100%;
  overflow: hidden;
}

.about-item .right-content {
  margin-left: -30px;
}

.about-item .right-content img {
  width: 100%;
  overflow: hidden;
}

.about-item  .down-content {
  background-color: #fff;
  padding: 30px;
  border-right: 1px dotted #d7dadc;
  border-bottom: 1px dotted #d7dadc;
}

.about-item  .down-content h4 {
  font-size: 22px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 20px;
}

.about-item  .down-content ul li {
  font-size: 16px;
  font-weight: 500;
  color: #2a2a2a;
  margin-bottom: 5px;
}

.about-item  .down-content span {
  font-size: 14px;
  color: #7c838b;
  font-weight: 300;
  display: block;
  margin-top: 25px;;
}

.about-item  .down-content .main-dark-button {
  margin-top: 25px;
}

.about-upcoming-shows {
  margin-top: 120px;
}

.about-upcoming-shows h2 {
  font-size: 30px;
  font-weight: 800;
  color: #2a2a2a;
  margin-bottom: 25px;
}

.about-upcoming-shows h4 {
  font-size: 22px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 25px;;
}

.about-upcoming-shows ul{
  margin-bottom: 30px;
}

.about-upcoming-shows ul li {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}

.about-upcoming-shows p {
  margin-bottom: 30px;;
}

.about-upcoming-shows .text-button {
  margin-top: -15px;
}

.about-upcoming-shows .next-shows {
  border: 1px dotted #d7dadc;
  padding: 20px;;
}

.about-upcoming-shows .next-shows h4 {
  display: inline-block;
}

.about-upcoming-shows .next-shows h4 i {
  display: inline-block;
  margin-right: 10px;
  height: 30px;
}

.about-upcoming-shows .next-shows ul {
  margin-bottom: 0px;
}

.about-upcoming-shows .next-shows ul li {
  border-bottom: 1px dotted #d7dadc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.about-upcoming-shows .next-shows ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.about-upcoming-shows .next-shows ul li h5 {
  font-size: 15px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 15px;;
}

.about-upcoming-shows .next-shows ul li span {
  font-size: 14px;
  font-weight: 300;
  color: #2a2a2a;
}

.about-upcoming-shows .next-shows ul li .icon-button {
  float: right;
  margin-top: -35px;
}

.about-upcoming-shows .next-shows ul li .icon-button a {
  width: 50px;
  height: 50px;
  background-color: #656c74;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  transition: all .3s;
}
.about-upcoming-shows .next-shows ul li .icon-button a:hover {
  background-color: #858b93;
}

.also-like {
  margin-top: 110px;
  background-color: #f0f0f1;
  padding-bottom: 100px;
}

.also-like h2 {
  font-size: 30px;
  font-weight: 800;
  color: #2a2a2a;
  margin-top: 100px;
  margin-bottom: 40px;
}

.also-like .thumb {
  position: relative;
}

.also-like .thumb .icons {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.also-like .thumb .icons ul li {
  display: inline-block;
  margin-left: 5px;
}

.also-like .thumb .icons ul li a {
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  color: #fff;
  background-color: #656c74;
  border-radius: 50%;
  transition: all .3s;
}

.also-like .thumb .icons ul li a:hover {
  background-color: #858b93;
}

.also-like .thumb .icons ul li a i {
  font-size: 14px;
}

.also-like .like-item img {
  width: 100%;
  overflow: hidden;
}

.also-like .like-item .down-content {
  background-color: #fff;
  padding: 30px;
}

.also-like .like-item .down-content span {
  font-size: 15px;
  color: #2a2a2a;
  font-weight: 500;
  display: inline-block;
}

.also-like .like-item .down-content h4 {
  font-size: 22px;
  font-weight: 700;
  color: #2a2a2a;
  margin-top: 10px;
}



.tickets-page {
  margin-bottom: 100px;
}

.tickets-page.search-box {
  background-color: #040507;
  padding: 30px;
}

.tickets-page .search-box h4 {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 8px;
}

.tickets-page .search-box select {
  margin-top: 10px;
  background-color: transparent;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  width: 100%;
  padding: 5px;
}

.tickets-page .search-box option {
  background-color: #343a3e;
}

.tickets-page .search-box .main-dark-button {
  display: inline-block;
  font-size: 14px;
  padding: 12px 18px;
  background-color: #343a3e;
  color: #fff;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  transition: all .3s;
  border: none;
  outline: none;
  width: 100%;
}

.tickets-page .search-box .main-dark-button:hover {
  background-color: #656c74;
}
 
.tickets-page .heading h2 {
  font-size: 30px;
  font-weight: 800;
  color: #2a2a2a;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
}

.tickets-page .ticket-item .thumb {
  position: relative;
}

.tickets-page .ticket-item .thumb img {
  width: 100%;
  overflow: hidden;
}

.tickets-page .ticket-item .thumb .price {
  background-color:white;
  display: inline-block;
  padding: 20px;
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.tickets-page .ticket-item .thumb .price span {
  color: #fff;
  font-size: 14px;
  line-height: 25px;
}

.tickets-page .ticket-item .thumb .price span em {
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
}

.tickets-page .ticket-item {
  margin-bottom: 30px;
}

.tickets-page .ticket-item .down-content {
  background-color: #fafafa;
  padding: 30px;;
}

.tickets-page .ticket-item .down-content span {
  font-size: 14px;
  color: #656c74;
  font-weight: 700;
}

.tickets-page .ticket-item .down-content h4 {
  font-size: 22px;
  font-weight: 700;
  color: #2a2a2a;
  margin-top: 10px;
  margin-bottom: 25px;
}

.tickets-page .ticket-item .down-content ul li {
  font-size: 14px;
  color: #2a2a2a;
  font-weight: 300;
  margin-bottom: 15px;
}

.tickets-page .ticket-item .down-content ul li i {
  color: #7c838b;
  margin-right: 10px;
  width: 15px;
  height: 25px;
  float: left;
}

.tickets-page .ticket-item .down-content .main-dark-button {
  margin-top: 30px;
}

.tickets-page .pagination ul {
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

.tickets-page .pagination ul li {
  display: inline-block;
  margin: 0px 10px!important;
}

.tickets-page .pagination ul li a {
  display: inline-block;
  font-size: 14px;
  padding: 12px 20px;
  background-color: #e6e7e8;
  color: #2a2a2a;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  transition: all .3s;
}

.tickets-page .pagination ul li a:hover,
.tickets-page .pagination ul li.active a {
  background-color: #343a3e;
  color: #fff!important;
}



/*
-------------------------------
Ticket Details Page
-------------------------------
*/

.ticket-details-page {
  margin: 100px 0px;
}

.ticket-details-page img {
  max-width: 100%;
  overflow: hidden;
}

.ticket-details-page .right-content {
  margin-left: 15px;
}

.ticket-details-page .right-content h4 {
  font-size: 30px;
  font-weight: 800;
  color: #2a2a2a;
}

.ticket-details-page .right-content span {
  font-size: 14px;
  font-weight: 700;
  color: #656c74;
  display: inline-block;
  border-bottom: 1px solid #eee;
  width: 100%;
  padding-bottom: 30px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.ticket-details-page .right-content ul {
  border-bottom: 1px solid #eee;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.ticket-details-page .right-content ul li {
  font-size: 14px;
  color: #2a2a2a;
  font-weight: 300;
  margin-bottom: 15px;
}

.ticket-details-page .right-content ul li i {
  color: #7c838b;
  margin-right: 10px;
  width: 15px;
  height: 25px;
  float: left;
}

.ticket-details-page .right-content .quantity-content {
  border-bottom: 1px solid #eee;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.ticket-details-page .right-content .quantity-content .left-content {
  float: left;
  margin-right: 30px;
}

.ticket-details-page .right-content .quantity-content .right-content {
  text-align: right;
}

.ticket-details-page .right-content .quantity-content .left-content h6 {
  font-size: 14px;
  font-weight: 700;
  color: #2a2a2a;
}

.ticket-details-page .right-content .total h4 {
  float: left;
  font-size: 20px;
  margin-top: 8px;
}

.ticket-details-page .right-content .total .main-dark-button {
  text-align: right;
}
.ticket-details-page .right-content .warn p {
  margin-top: 45px;
}


.quantity {
  display: inline-block; }
 
 .quantity .input-text.qty {
  width: 35px;
  height: 39px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #efefef;
 }
 
 .quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top; }
 
 .quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
 }
 
 .quantity.buttons_added .minus,
 .quantity.buttons_added .plus {
  padding: 7px 10px 8px;
  height: 39px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  cursor:pointer;}
 
 .quantity.buttons_added .minus {
  border-right: 0; }
 
 .quantity.buttons_added .plus {
  border-left: 0; }
 
 .quantity.buttons_added .minus:hover,
 .quantity.buttons_added .plus:hover {
  background: #eeeeee; }
 
 .quantity input::-webkit-outer-spin-button,
 .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0; }
  
  .quantity.buttons_added .minus:focus,
 .quantity.buttons_added .plus:focus {
  outline: none; }



#features {
  margin-bottom: 80px;
}

.feature-item {
  display: inline-block;
  margin-bottom: 60px;
}

.feature-item .left-icon img {
  float: left;
  margin-right: 30px;
}

.feature-item .right-content {
  display: inline;
}

.feature-item .right-content h4 {
  margin-top: 0px;
  margin-bottom:  7px;
  letter-spacing: 0.25px;
  color: #232d39;
  font-size: 19px;
  font-weight: 600;
  text-transform: capitalize;
}

.feature-item .right-content a.text-button {
  margin-top: 7px;
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  color: #656c74;
  font-weight: 500;
}





@media (max-width: 1036px) {

  .owl-show-events .owl-nav {
    display: none;
  }

}

@media (max-width: 992px) {

  .amazing-venues .right-content {
    margin-left: 0;
    margin-top: 45px;
  }

  .subscribe,
  .subscribe input,
  footer .address,
  footer .hours {
    text-align: center; 
  }

  .subscribe h4 {
    margin-bottom: 20px;
  }

  .subscribe .main-dark-button {
    margin-top: 20px;
  }

  footer .address {
    margin-bottom: 45px;
  }

  footer .hours {
    margin-top: 45px;
  }

  .sub-footer,
  .sub-footer .social-links {
    text-align: center;
  }

  .coming-events .event-item {
    margin-bottom: 30px;
  }

  .coming-events .left-button {
    display: none;
  }

  .under-footer,
  footer p.copyright {
    text-align: center;
  }

  .about-item .right-content {
    margin-left: 0px;
  }

  .about-item .down-content {
    border-left: 1px dotted #d7dadc;
  }

  .about-upcoming-shows .next-shows {
    margin-top: 30px;
  }
  
  .also-like .like-item {
    margin-bottom: 30px;
  }

  .page-heading-rent-venue span,
  .page-heading-shows-events span {
    padding: 0px;
  }

  .rent-venue-tabs .heading-tabs .main-dark-button,
  .shows-events-tabs .heading-tabs .main-dark-button {
    display: none;
  }

  .shows-events-tabs #tabs ul li {
    margin-bottom: 15px;
  }

  .shows-events-tabs .tabs-content .event-item .right-content ul li i {
    height: 40px;
  }
  .shows-events-tabs .tabs-content .event-item .right-content {
    padding: 30px;
  }

  .shows-events-tabs #tabs ul li:last-child {
    margin-bottom: 0px;
  }

  .shows-events-tabs .tabs-content .sidebar {
    margin-bottom: 45px;
  }

  .tickets-page .search-box {
    text-align: center;
  }
  
  .tickets-page .search-box .main-dark-button,
  .tickets-page .search-box select {
    margin-top: 30px;
  }

  .shows-events-tabs .tabs-content .pagination ul li,
  .shows-events-schedule .pagination ul li,
  .tickets-page .pagination ul li {
    margin: 0px 2px!important;
  }

  .ticket-details-page .right-content {
    margin-left: 0px;
    margin-top: 30px;
  }

  .shows-events-schedule ul li,
  .shows-events-schedule ul li .main-dark-button {
    text-align: center;
  }

  .shows-events-schedule ul li .title,
  .shows-events-schedule ul li .time,
  .shows-events-schedule ul li .place {
    margin-bottom: 15px;
  }


}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
opacity: 0.7;
color: antiquewhite;
}

.fa-instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.social-list {
    display: inline-flex
}

.social-list li {
    list-style: none;
    margin-right: 10px
}

.maincard {
    position: relative;
    width: 120px;
    height: 80px
}

.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease
}

.thecard:hover {
    transform: rotateY(180deg)
}

.thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hidden;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #eee;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    padding: 4px
}

.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: hidden;
    color: #fff;
    border-radius: 10px;
    transform: rotateY(180deg);
    border: 1px solid #eee;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    padding: 4px
}

.social-text small {
    font-size: 20px
}

@media (max-width:700px) {
    .social-list {
        display: block
    }
}

.facebook {
    background: #3b5998
}

.instagram {
    background: #3f729b
}

.youtube {
    background: #ff0000
}

.whatsapp {
    background: #4dc247
}

.pinterest {
    background: #cb2027
}